<table class="table table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Categories</th>
            <th>Status</th>
            <th>Reward</th>
            <th>End date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bet in bets">
            <td>1</td>
            <td>{{bets.name}}</td>
            <td><div data-placement="top" class="tooltip1" title="{{bets.description}}">This bet is about drinking 9 cups of beer in about half an hour, without throwing up.</div></td>
            <td>johncarter@mail.com</td>
            <td>Friends</td>
            <td>In progress</td>
            <td>10€</td>
            <td>11.12.1993</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Peter</td>
            <td><span class="tooltip1" data-placement="top" title="This bet is about drinking 9 cups of beer in about half an hour, without throwing up.">This bet is...</span></td>
            <td>peterparker@mail.com</td>
            <td>Friends</td>
            <td>Finished</td>
            <td>12€</td>
            <td>11.12.1993</td>
        </tr>
        <tr>
            <td>3</td>
            <td>John</td>
            <td><span class="tooltip1" data-placement="top" title="This bet is about drinking 9 cups of beer in about half an hour, without throwing up.">This bet is...</span></td>
            <td>johnrambo@mail.com</td>
            <td>Friends</td>
            <td>Pending</td>
            <td>5€</td>
            <td>11.12.1993</td>
        </tr>
    </tbody>
</table>