<div class="jumbotron">
    <div class="container">
        <h3>Browse bets</h3>
        <form id="browseBets">
            <div class="input-group pull-right col-md-4">
                <input type="text" class="form-control" placeholder="Search" id="search-query-3" ng-model="searchText">
                <span class="input-group-btn">
                    <button type="submit" class="btn">
                        <span class="fui-search"></span>
                    </button>
                </span>
            </div>
        </form>
        <div class="btn-group pull-right status-button" ng-model="searchText" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" name="status-options" id="status-all"/>All
            </label>
            <label class="btn btn-default">
                <input type="radio" name="status-options" id="status-progress"/>In progress
            </label>
            <label class="btn btn-default">
                <input type="radio" name="status-options" id="status-pending"/>Pending
            </label>
            <label class="btn btn-default">
                <input type="radio" name="status-options" id="status-finished"/>Finished
            </label>
        </div>
        <br>
        <table class="table table-responsive" ng-controller="BrowseBetsController">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Categories</th>
                    <th>Status</th>
                    <th>Reward</th>
                    <th>End date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bet in bets | filter:searchText:false">
                    <td>{{bet.name}}</td>
                    <td>
                        <div class="tooltip1" data-placement="top" title="{{bet.betDetails.betDescription.description}}">{{bet.betDetails.betDescription.description}}</div>
                    </td>
                    <td><label ng-repeat=""</td>
                    <td>{{bet.betDetails.betStatus.status}}</td>
                    <td>{{bet.betDetails.betReward}}</td>
                    <td>{{bet.dueDate}}</td> 
                </tr>
            </tbody>
        </table>
        <div class="pagination browseBetsPagination">
            <ul>
                <li class="previous">
                    <a href="#" class="fui-arrow-left"></a>
                </li>

                <li class="active">
                    <a href="#fakelink">1</a>
                </li>
                <li class="active">
                    <a href="#fakelink">2</a>
                </li>
                <li class="active">
                    <a href="#fakelink">3</a>
                </li>
                <li class="active">
                    <a href="#fakelink">4</a>
                </li>
                <li class="active">
                    <a href="#fakelink">5</a>
                </li>
                <li class="active">
                    <a href="#fakelink">6</a>
                </li>
                <li class="active">
                    <a href="#fakelink">7</a>
                </li>
                <li class="active">
                    <a href="#fakelink">8</a>
                </li>
                ...
                <li>
                    <a href="#fakelink">10</a>
                </li>

                <li class="next">
                    <a href="#" class="fui-arrow-right"></a>
                </li>
            </ul>
        </div>
    </div>
</div>