<div class="jumbotron">
    <div class="container">
        <h3>Browse bets</h3>
  		<form id="browseBets">
			<div class="input-group pull-right col-md-4">                               
                  <input type="text" class="form-control" placeholder="Search" id="search-query-3">
                  <span class="input-group-btn">
                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                  </span>
            </div>
        </form>
        <div class="pagination browseBetsPagination">
		  <ul>
		    <li class="previous">
		      <a href="#" class="fui-arrow-left"></a>
		    </li>

		    <li class="active"><a href="#fakelink">1</a></li>
		    <li class="active"><a href="#fakelink">2</a></li>
		    <li class="active"><a href="#fakelink">3</a></li>
		    <li class="active"><a href="#fakelink">4</a></li>
		    <li class="active"><a href="#fakelink">5</a></li>
		    <li class="active"><a href="#fakelink">6</a></li>
		    <li class="active"><a href="#fakelink">7</a></li>
		    <li class="active"><a href="#fakelink">8</a></li>

		    ...
		    <li><a href="#fakelink">10</a></li>

		    <li class="next">
		      <a href="#" class="fui-arrow-right"></a>
		    </li>
		  </ul>
		</div>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Categories</th>
            <th>neki</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>John</td>
            <td><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button></td>
            <td>johncarter@mail.com</td>
            <td>Friends</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Peter</td>
            <td>Parker</td>
            <td>peterparker@mail.com</td>
            <td>Friends</td>
        </tr>
        <tr>
            <td>3</td>
            <td>John</td>
            <td>Rambo</td>
            <td>johnrambo@mail.com</td>
            <td>Friends</td>
        </tr>
    </tbody>
</table>
    </div>
 </div>