<div class="jumbotron">
    <div class="container">
        <h3>Create new bet</h3>

        <form id="createBet">
            <div class="input-group">
                <div class="form-row">
                    <label class="col-md-2 control-label" for="betName">Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="betName" placeholder="Bet name">
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-md-2 control-label" for="betName">Description</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="betDesc" placeholder="Description">
                    </div>
                </div>
                <div class="form-row">
                    <label class="col-md-2 control-label" for="betName">Groups</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="groups"></div>
                    </div>
                </div>
        </form>
    </div>
</div>