<div class="jumbotron">
	<div class="container">
		<h3>Create new bet</h3>

		<form id="createBet">
<div class="input-group">
  <span class=""></span>
  <label for="betName" class="label label-default">Name</label>
  <input type="text" class="form-control" name="betName" placeholder="Bet name">
  <label for="betDesc" class="label label-default">Description</label>
  <input type="text" class="form-control" name="betDesc" placeholder="Description">
  <input type="text" class="form-control" placeholder="groups">
</div>
		</form>
	</div>
</div>