<div class="jumbotron">
	<div class="container">
		<h3>Welcome to BetAFriend application!</h3>
		<p>
			This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
		</p>
		<p>
			<a class="btn btn-primary btn-lg" role="button" href="#/create">
				<span class="icon-file3"></span>
				Create Bet
			</a>
			<small class="or-element">or</small>
			<a class="btn btn-primary btn-lg" role="button" href="#/browse">
				<span class="icon-stack">Browse Bets</a>
			</p>
		</div>
</div>
	<section class="stats-container">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h4>Last Bets</h4>
					<hr>
					<div class="list-group">
						<a href="#" class="list-group-item">
							<p class="list-group-item-heading">List group item heading</p>
							<p class="list-group-item-text">
								<small>16.4.2014</small>
							</p>						</a>
						<a href="#" class="list-group-item">
							<p class="list-group-item-heading">List group item heading</p>
							<p class="list-group-item-text">
								<small>16.4.2014</small>
							</p>
						</a>
						<a href="#" class="list-group-item">
							<p class="list-group-item-heading">List group item heading</p>
							<p class="list-group-item-text">
								<small>16.4.2014</small>
							</p>
						</a>
						<a href="#" class="list-group-item">
							<p class="list-group-item-heading">List group item heading</p>
							<p class="list-group-item-text">
								<small>16.4.2014</small>
							</p>
						</a>
						<a href="#" class="list-group-item">
							<p class="list-group-item-heading">List group item heading</p>
							<p class="list-group-item-text">
								<small>16.4.2014</small>
							</p>
						</a>
					</div>
					<hr>
					<p>
						<a class="btn btn-default" href="#" role="button">more »</a>
					</p>
				</div>
				<div class="col-md-3">
					<h4>Most Popular</h4>
					<hr>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="badge">650</span>
							Cras justo odio
						</li>
						<li class="list-group-item">
							<span class="badge">410</span>
							Cras justo odio
						</li>
						<li class="list-group-item">
							<span class="badge">251</span>
							Cras justo odio
						</li>
						<li class="list-group-item">
							<span class="badge">140</span>
							Cras justo odio
						</li>
						<li class="list-group-item">
							<span class="badge">46</span>
							Cras justo odio
						</li>
					</ul>
					<hr>
					<p>
						<a class="btn btn-default" href="#" role="button">more »</a>
					</p>
				</div>
				<div class="col-md-3">
					<h4>Bets Per Category</h4>
					<hr>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="badge">650</span>
							Family
						</li>
						<li class="list-group-item">
							<span class="badge">410</span>
							Funny
						</li>
						<li class="list-group-item">
							<span class="badge">251</span>
							Sport
						</li>
						<li class="list-group-item">
							<span class="badge">140</span>
							School/Work
						</li>
						<li class="list-group-item">
							<span class="badge">46</span>
							Friends
						</li>
					</ul>
					<hr>
					<p>
						<a class="btn btn-default" href="#" role="button">more »</a>
					</p>
				</div>
				<div class="col-md-3">
					<h4>Stats</h4>
					<hr>
					<ul class="list-group">
						<li class="list-group-item">
							Bets
							<span class="badge">650</span>
						</li>
						<li class="list-group-item">
							Users
							<span class="badge">410</span>
						</li>
						<li class="list-group-item">
							Friends/User
							<span class="badge">25.1</span>
						</li>
						<li class="list-group-item">
							Categories
							<span class="badge">21</span>
						</li>
					</ul>
					<hr>
					<p>
						<a class="btn btn-default" href="#" role="button">more »</a>
					</p>
				</div>
			</div>
		</div>
	</section>