<div class="bg"></div>
<div class="jumbotron j-bg">
	<div class="container">
		<h3>Welcome to BetAFriend application!</h3>
		<p>
			BetAFriend application allows users to create new bets and challenge your friends or simply browse through the many of already created bets.
		</p>
		<div class="align-center">
			<a class="btn btn-embossed btn-primary btn-lg" role="button" href="#!/create">
				<span class="icon-file3"></span>
				Create Bet
			</a>
			<small class="or-element">or</small>
			<a class="btn btn-embossed btn-primary btn-lg" role="button" href="#!/browse">
				<span class="icon-stack"></span>
				Browse Bets
			</a>
		</div>
	</div>
</div>
	<section class="stats-container" ng-controller="DashboardController">
		<div class="container">
			<div class="row">
				<div class="col-md-3" id="lastsBets">
					<h4>Last Bets</h4>
					<div class="list-group">
						<a href="/#!/bet/{{bet.id}}" class="list-group-item" ng-repeat="bet in bets | filter:query | limitTo:limitNum | orderBy:orderProp">
							<p class="list-group-item-heading">{{bet.name}}</p>
							<p class="list-group-item-text">
								<small>{{bet.creationDate}}</small>
							</p>
						</a>
					</div>
					<hr>
<!-- 					<p>
						<a class="btn btn-default" href="#" role="button">more »</a>
					</p> -->
				</div>
				<div class="col-md-3">
					<h4>Most Popular</h4>
					<div class="list-group">
						<a href="/#!/bet/{{bet.id}}" class="list-group-item" ng-repeat="bet in bets">
							<p class="list-group-item-heading">{{bet.name}}</p>
							<p class="list-group-item-text">
								<small>{{bet.creationDate}}</small>
							</p>						</a>
					</div>
					<hr>
<!-- 					<p>
						<a class="btn btn-embossed btn-default" href="#" role="button">more »</a>
					</p> -->
				</div>
				<div class="col-md-3">
					<h4>Bets Per Category</h4>
					<ul class="list-group">
		 				<li class="list-group-item" ng-repeat="cat in categories">
							<span class="badge">{{cat.count}}</span>
							{{cat.name}}
						</li>
					</ul>
					<hr>
<!-- 					<p>
						<a class="btn btn-embossed btn-default" href="#" role="button">more »</a>
					</p> -->
				</div>
				<div class="col-md-3">
					<h4>Stats</h4>
					<ul class="list-group">
						<li class="list-group-item">
							Bets
							<span class="badge">650</span>
						</li>
						<li class="list-group-item">
							Users
							<span class="badge">410</span>
						</li>
						<li class="list-group-item">
							Friends/User
							<span class="badge">25.1</span>
						</li>
						<li class="list-group-item">
							Categories
							<span class="badge">21</span>
						</li>
					</ul>
					<hr>
<!-- 					<p>
						<a class="btn btn-embossed btn-default" href="#" role="button">more »</a>
					</p> -->
				</div>
			</div>
		</div>
	</section>
