<div class="jumbotron" ng-controller="ProfileController">
    <div class="container">
        <h3>Profile of {{currentUser.name}}</h3>
            <div>
                <span class="lead">Personal details</span>
            </div>
            <div>
                <img src="{{currentUser.avatarIcon}}" class="img-responsive img-thumbnail img-user">
            </div>
            <table class="table table-responsive table-user-details">
                <tr>
                    <td>Username:</td>
                    <td>{{currentUser.displayName}}</td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td>{{currentUser.email}}</td>
                </tr>            
                <tr>
                    <td>Name:</td>
                    <td>{{currentUser.name}}</td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>{{currentUser.location}}</td>
                </tr> 
                <tr>
                    <td>Birth date:</td>
                    <td>{{currentUser.birthDate}}</td>
                </tr>                   
                <tr>
                    <td>About me:</td>
                    <td>{{currentUser.aboutUser}}</td>
                </tr>                                                 

            </table>
    </div>
    <div class="container">
        <div>
            <span class="lead">Personal statistic</span>
        </div>
        <br>
           <table class="table table-responsive table-user-statistics">
            <tr>
                <td>Creation date:</td>
                <td>{{currentUser.creationDate}}</td>
            </tr>
            <tr>
                <td>Last login:</td>
                <td>{{currentUser.lastLogin}}</td>
            </tr>            
            <tr>
                <td>Last bet:</td>
                <td>{{currentUser.lastBet}}</td>
            </tr>
            <tr>
                <td>Bets won:</td>
                <td>{{currentUser.betsWon}}</td>
            </tr>  
            <tr>
                <td>Bets lost:</td>
                <td>{{currentUser.betsLost}}</td>
            </tr>   
        </table>        
    </div>
 </div>